---
import Layout from '@layouts/Layout.astro';
import Card from '@components/Card.astro';
import AstroLogo from '@components/AstroLogo.astro';
import { slideInDown } from '@utils/animations';

/**
 * Fetches a list of movies from the WordPress REST API and assigns it to the `movies` array.
 * If the fetch operation fails or the response is not OK, logs an error message with details.
 */
const API_URL = import.meta.env.PUBLIC_WP_URL;
const baseUrl = Astro.site || '';
let movies = [];

console.log('API_URL:', API_URL);
try {
	const response = await fetch(`${API_URL}/wp-json/movies/v1/movies`);
	if (!response.ok) {
		const errorDetails = await response.text();
		throw new Error(`Error fetching movies: ${response.status} ${response.statusText} - ${errorDetails}`);
	}
	movies = await response.json();
} catch (error) {
	console.error('Error loading movies:', error);
}
---

<Layout title="Movies WP + Astro">
	<main>
		<AstroLogo/>
		<h1 transition:animate={slideInDown}>Movies <span class="text-gradient">WP</span> + <span class="text-gradient">Astro JS</span></h1>
		<ul role="list" class="card-grid">
			{movies.map(movie => (
				<Card
					key={movie.id}
					title={movie.title}
					release={movie.release}
					href={`${baseUrl}movie/${movie.slug}/`}
					image={movie.poster_url}
				/>
			))}
		</ul>
	</main>
</Layout>

<style>
	.card-grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 24px;
		padding: 0;
	}
</style>
